@import '../../core/stylesheets/variables.scss';

$menu-base-width: 56px;

.md-menu {
  display: inline-block;
}

.md-menu-content {
  margin: -12px -8px;
  max-width: $menu-base-width * 7;
  max-height: calc(100vh - 32px);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 131;
  transform: scale(.9, .85) translateZ(0);
  border-radius: 2px;
  box-shadow: $material-shadow-2dp;
  opacity: 0;
  transition: width $swift-ease-out-duration $swift-ease-out-timing-function,
              opacity .3s $swift-ease-in-timing-function,
              margin .3s $swift-ease-in-timing-function,
              transform 0s .4s $swift-ease-in-timing-function;
  will-change: transform, opacity, width;

  &.md-direction-bottom-left,
  &.md-direction-bottom-right {
    transform-origin: top left;
    bottom: auto !important;
  }

  &.md-direction-top-left,
  &.md-direction-top-right {
    transform-origin: bottom left;
    top: auto !important;
  }

  &.md-direction-top-right,
  &.md-direction-bottom-right{
    right: auto !important;
  }

  &.md-direction-top-left,
  &.md-direction-bottom-left {
    transform-origin: top right;
    left: auto !important;
  }

  &.md-direction-top-left {
    transform-origin: bottom right;
  }

  &.md-align-trigger {
    margin: 0;
  }

  &.md-size-1 {
    width: $menu-base-width * 1.5;
  }

  @for $i from 2 through 7 {
    &.md-size-#{$i} {
      width: $menu-base-width * $i;
    }
  }

  &.md-active {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1) translateZ(0);
    transition: width $swift-ease-out-duration $swift-ease-out-timing-function,
                opacity .4s $swift-ease-out-timing-function,
                transform .3s $swift-ease-out-timing-function;
  }

  .md-list {
    background-color: rgba(#fff, .07);
  }
}

.md-menu-item {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2em;

  .md-list-item-container {
    > .md-icon {
      margin-left: 24px;
    }
  }

  &[disabled] {
    cursor: default;
  }

  .md-list-item-holder {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.md-menu-backdrop {
  z-index: 130;
}
