@import '../../core/stylesheets/variables.scss';

$select-height: 32px;

.md-select {
  width: 100%;
  min-width: 128px;
  position: relative;

  &:focus {
    outline: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    transition: $swift-linear;
    border-style: solid;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-width: 7px 6px 0;
  }

  &.md-active {
    .md-select-menu {
      top: -8px;
      pointer-events: auto;
      opacity: 1;
      transform: translateY(-8px) scale3D(1, 1, 1);
      transform-origin: center top;
      transition: $swift-ease-out;
      transition-duration: .25s;
      transition-property: opacity, transform, top;

      > * {
        opacity: 1;
        transition: $swift-ease-in;
        transition-duration: .15s;
        transition-delay: .1s;
      }
    }
  }

  &.md-disabled {
    pointer-events: none;
    user-select: none;
    user-drag: none;
  }

  .md-menu {
    display: block;
    position: relative;
  }

  .md-select-value {
    width: 100%;
    min-height: $select-height;
    padding: 4px 24px 4px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 16px;

    & > .value{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .md-subheader {
    color: rgba(#757575, .87);
    text-transform: uppercase;

    &:first-child {
      margin-top: -8px;
    }
  }
}

.md-select-content {
  max-height: 256px;
  margin-top: -16px !important;

  .md-menu-item .md-list-item-holder {
    overflow: visible;
    justify-content: flex-start;
  }

  &.md-multiple {
    .md-checkbox {
      margin: 0;
    }

    .md-checkbox-label {
      padding-left: 16px;
      cursor: pointer;
    }
  }
}
